@import "./reset.css";
@import url('https://www.fontify.me/wf/56fc30a012b39f8ad9c83350059a4e4e');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;700;900&display=swap');
@font-face {
    font-family: 'Helvetica';
    src: url(/yuhan/fonts/Helvetica.ttf) format('truetype');
}
@font-face{
    font-family: 'Helvetica Bold';
    src: url(/yuhan/fonts/Helvetica_Bold.ttf) format('truetype');
}
body {
    letter-spacing: -0.05em;
}
.wrap {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background: #1b1b1b;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.logo {
    width: 115px;
    height: 115px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.main-bn {
    width: 100%;
    height: 690px;
    background: url("/yuhan/img/img_main.png") no-repeat;
    background-size: cover;
}

.link-content {
    width: 100%;
    height: 910px;
}

.content-tit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 390px;
    font-family: font92219;
    font-size: 112px;
    color: #fff;
    font-weight: bold;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 322px;
    padding: 0 125px;
}

.btn-box {
    width: 325px;
    height: 325px;
}

.btn-box img {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 198px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #e6e6e6;
    font-family: Helvetica;
}

/* sub 01 */

.sub01-bn {
    width: 100%;
    height: 690px;
    background: url("/yuhan/img/img_sub01.png") no-repeat;
    background-size: cover;
}

.sub01-content {
    width: 100%;
    height: auto;
    padding:200px 0 150px 0;
}

.sub01-content p:first-child{
    display: block;
    font-family: 'Gothic A1', sans-serif;
    color: #239fff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 48px;
}

.name {
    display: block;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    margin-bottom: 45px;
}

.en-name {
    display: block;
    font-size: 30px;
    color: #fefefe;
    font-weight: 700;
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    margin-bottom: 150px;
}

.sub01-txt {
    display: block;
    font-size: 24px;
    color: #fefefe;
    font-weight: 500;
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.sub01-txt:last-child {
    margin-bottom: 0;
}

/* sub 02 */

.sub02-bn {
    width: 100%;
    height: 690px;
    background: url("/yuhan/img/iproduct_01.png") no-repeat;
    background-size: cover;
}

.iproduct-tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
}

.iproduct-tit h3 {
    font-family: font92219;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

.iproduct-tit p {
    display: block;
    font-family: 'Gothic A1', sans-serif;
    color: #239fff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.item-box {
    width: 100%;
    height: 1350px;
}

.pruduct-img {
    width: 100%;
    height: 810px;
}

.pruduct-img img {
    width: 100%;
    height: 100%;
}

.product-des {
    width: 100%;
    height: 540px;

}

.des-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 270px;
}

.des-txt h4 {
    font-family: font92219;
    font-size: 72px;
    color: #fff;
    font-weight: bold;
}

.des-txt p {
    font-family: 'Helvetica Bold';
    color: #808080;
    font-size: 24px;
    margin-top: 50px;
    font-weight: 400;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
}

.dots span {
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 10px;
}

/* sub 03 */

.sub03-bn {
    width: 100%;
    height: 690px;
    background: url("/yuhan/img/img_sub02.png") no-repeat;
    background-size: cover;
}

.sub03-content-01 {
    width: 100%;
    height: auto;
    padding: 200px 0 0 0;
}

.top-text h4 {
    font-size: 72px;
    font-weight: bold;
    font-family: font92219;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

.top-text p {
    font-size: 30px;
    font-family: 'Gothic A1', sans-serif;
    color: #239fff;
    text-align: center;
}

.top-text {
    margin-bottom: 15px;
}

.text-content-grop {
    text-align: center;
    margin-bottom: 145px;
}

.text-content-grop h5 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
}

.text-content-grop p {
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fefefe;
    line-height: 30px;
    margin-bottom: 40px;
}

.text-content-grop p:last-child {
    margin-bottom: 0;
}

.grup-last {
    margin-bottom: 0;
}

.sub03-02-bn {
    width: 100%;
    height: 810px;
    background: url("/yuhan/img/img_sub03.png") no-repeat;
    background-size: cover;
}

.sub03-03-bn {
    width: 100%;
    height: 810px;
    background: url("/yuhan/img/img_sub04.png") no-repeat;
    background-size: cover;
}
